{% extends "base.html" %}

{% block title %}Agora Market{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link mx-1" href="/login">Iniciar sesión</a>
    </li>
    <li class="nav-item">
        <a class="nav-link mx-1" href="/register">Registrarse</a>
    </li>
{% endblock %}

{% block content %}
    <form action="#" method="POST" class="mb-4">
        <div class="input-group">
            <input type="text" name="busqueda" placeholder="Buscar productos..." class="form-control">
            <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Buscar</button>
            </div>
        </div>
    </form>
{% endblock %}
